### NetBeans template
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Example user template
.DS_store
**/src/java/utils/DBUtils.java

# IntelliJ project files
.idea
*.iml
out
gen
/lib/
