USE [master]
GO
/****** Object:  Database [TimPhongTro]    Script Date: 10/25/2022 1:41:50 PM ******/
CREATE DATABASE [TimPhongTro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimPhongTro', FILENAME = N'D:\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimPhongTro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimPhongTro_log', FILENAME = N'D:\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimPhongTro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimPhongTro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimPhongTro]
GO
/****** Object:  Table [dbo].[CT_HinhAnh]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HinhAnh](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[UrlHinhAnh] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CT_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuongPho]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuongPho](
	[MaDuong] [int] NOT NULL,
	[TenDuong] [nvarchar](50) NOT NULL,
	[MaQuan] [int] NOT NULL,
 CONSTRAINT [PK_DuongPho] PRIMARY KEY CLUSTERED 
(
	[MaDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongTro]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongTro](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [ntext] NOT NULL,
	[Loai] [nvarchar](100) NOT NULL,
	[LienHe] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[DienTich] [int] NOT NULL,
	[GiaThue] [float] NOT NULL,
	[DiaChi] [ntext] NOT NULL,
	[GhiChu] [ntext] NULL,
	[MaDuong] [int] NOT NULL,
	[MaUser] [int] NOT NULL,
 CONSTRAINT [PK_PhongTro] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanHuyen]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHuyen](
	[MaQuan] [int] NOT NULL,
	[TenQuan] [nvarchar](50) NOT NULL,
	[MaTP] [int] NOT NULL,
 CONSTRAINT [PK_QuanHuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[MaPhanQuyen] [int] IDENTITY(0,1) NOT NULL,
	[Roles] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[EmailLienHe] [nvarchar](50) NOT NULL,
	[DiaChi] [ntext] NULL,
	[PhanQuyen] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 10/25/2022 1:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[MaTP] [int] NOT NULL,
	[TenTP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThanhPho] PRIMARY KEY CLUSTERED 
(
	[MaTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__6108831068F4E199]    Script Date: 10/25/2022 1:41:50 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC,
	[SDT] ASC,
	[EmailLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_CT_HinhAnh_PhongTro] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongTro] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_HinhAnh] CHECK CONSTRAINT [FK_CT_HinhAnh_PhongTro]
GO
ALTER TABLE [dbo].[DuongPho]  WITH CHECK ADD  CONSTRAINT [FK_DuongPho_QuanHuyen] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[QuanHuyen] ([MaQuan])
GO
ALTER TABLE [dbo].[DuongPho] CHECK CONSTRAINT [FK_DuongPho_QuanHuyen]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [FK_PhongTro_DuongPho] FOREIGN KEY([MaDuong])
REFERENCES [dbo].[DuongPho] ([MaDuong])
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [FK_PhongTro_DuongPho]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [FK_PhongTro_TaiKhoan] FOREIGN KEY([MaUser])
REFERENCES [dbo].[TaiKhoan] ([MaUser])
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [FK_PhongTro_TaiKhoan]
GO
ALTER TABLE [dbo].[QuanHuyen]  WITH CHECK ADD  CONSTRAINT [FK_QuanHuyen_ThanhPho] FOREIGN KEY([MaTP])
REFERENCES [dbo].[ThanhPho] ([MaTP])
GO
ALTER TABLE [dbo].[QuanHuyen] CHECK CONSTRAINT [FK_QuanHuyen_ThanhPho]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Roles] FOREIGN KEY([PhanQuyen])
REFERENCES [dbo].[Roles] ([MaPhanQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Roles]
GO
ALTER TABLE [dbo].[DuongPho]  WITH CHECK ADD  CONSTRAINT [CHK_MaDuong] CHECK  (([MaDuong]<=(100)))
GO
ALTER TABLE [dbo].[DuongPho] CHECK CONSTRAINT [CHK_MaDuong]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [CHK_MaPhong] CHECK  (([Maphong]<=(100)))
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [CHK_MaPhong]
GO
ALTER TABLE [dbo].[QuanHuyen]  WITH CHECK ADD  CONSTRAINT [CHK_MaQuan] CHECK  (([MaQuan]<=(100)))
GO
ALTER TABLE [dbo].[QuanHuyen] CHECK CONSTRAINT [CHK_MaQuan]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CHK_MaPhanQuyen] CHECK  (([MaPhanQuyen]<=(2)))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CHK_MaPhanQuyen]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CHK_MaUser] CHECK  (([MaUser]<=(100)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CHK_MaUser]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CHK_PhanQuyen] CHECK  (([PhanQuyen]<=(2)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CHK_PhanQuyen]
GO
ALTER TABLE [dbo].[ThanhPho]  WITH CHECK ADD  CONSTRAINT [CHK_MaTP] CHECK  (([MaTP]<=(100)))
GO
ALTER TABLE [dbo].[ThanhPho] CHECK CONSTRAINT [CHK_MaTP]
GO
USE [master]
GO
